ProductsAndServices/CrossFunctional/Azure/ARM/Compute/AppService/01TwitterSentimateAnalysis.FixTweets.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "cognitiveservicestextanalytics_1_Connection_Name": {
      "type": "string",
      "defaultValue": "cognitiveservicestextanalytics-3"
    },
    "cognitiveservicestextanalytics_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "TwitterFix"
    },
    "cognitiveservicestextanalytics_1_apiKey": {
      "type": "securestring",
      "metadata": {
        "description": "Cognitive Services Account Key"
      }
    },
    "cognitiveservicestextanalytics_1_siteUrl": {
      "type": "string",
      "metadata": {
        "description": "Root site url (Example: https://westus.api.cognitive.microsoft.com ).If not specified site url will be defaulted to 'https://westus.api.cognitive.microsoft.com'."
      },
      "defaultValue": "https://eastus2.api.cognitive.microsoft.com/text/analytics/v2.0/sentimenhttps://eastus2.api.cognitive.microsoft.com"
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql-1"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Tweeter"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "logicappstwitter.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "TwitterData"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "defaultValue": "eastus2"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Get_rows')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": "@not(contains(body('Detect_Sentiment'), 'errors'))",
                  "actions": {
                    "Execute_stored_procedure": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql_1']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "Language": "@{body('Detect_Language')?['detectedLanguages'][0]['iso6391Name']}",
                          "Sentiment": "@body('Detect_Sentiment')?['score']",
                          "TweetId": "@items('For_each')?['TweetId']"
                        },
                        "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[AddSentiment]'))}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Detect_Sentiment": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Assume_English": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['sql_1']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "Language": "en",
                            "Sentiment": "@items('For_each')?['Sentiment']",
                            "TweetId": "@items('For_each')?['TweetId']"
                          },
                          "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[AddSentiment]'))}"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                },
                "Detect_Language": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['cognitiveservicestextanalytics_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "text": "@items('For_each')?['TweetText']"
                    },
                    "path": "/languages",
                    "queries": {
                      "numberOfLanguagesToDetect": 1
                    }
                  },
                  "runAfter": {}
                },
                "Detect_Sentiment": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['cognitiveservicestextanalytics_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "text": "@items('For_each')?['TweetText']",
                      "language": "@{body('Detect_Language')?['detectedLanguages'][0]['iso6391Name']}"
                    },
                    "path": "/sentiment"
                  },
                  "runAfter": {
                    "Detect_Language": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Get_rows": [
                  "Succeeded"
                ]
              },
              "operationOptions": "Sequential"
            },
            "Get_rows": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Tweets]'))}/items",
                "queries": {
                  "$filter": "Sentiment eq 0.500000000000000 and Language eq null",
                  "$top": 100
                }
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": 2
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus2', '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "cognitiveservicestextanalytics_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus2', '/managedApis/', 'cognitiveservicestextanalytics')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('cognitiveservicestextanalytics_1_Connection_Name'))]",
                "connectionName": "[parameters('cognitiveservicestextanalytics_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "FixTweets",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {},
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('cognitiveservicestextanalytics_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('cognitiveservicestextanalytics_1_Connection_Name')]",
      "location": "eastus2",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus2', '/managedApis/', 'cognitiveservicestextanalytics')]"
        },
        "displayName": "[parameters('cognitiveservicestextanalytics_1_Connection_DisplayName')]",
        "parameterValues": {
          "apiKey": "[parameters('cognitiveservicestextanalytics_1_apiKey')]",
          "siteUrl": "[parameters('cognitiveservicestextanalytics_1_siteUrl')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "eastus2",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus2', '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]"
        }
      }
    }
  ],
  "outputs": {}
}