MonitoringEvaluationLearning/MonitoringAndReportingAnalyticsAndReporting/SocialListening/KeywordSentimentAnalysis/Microsoft-TwitterTemplate/Service/AzureArm/logicAppUsers.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "storageaccountname": {
      "defaultValue": "ststorage",
      "type": "string"
    },

    "sitename": {
      "defaultValue": "stsite",
      "type": "string"
    },

    "AppHostingPlan": {
      "defaultValue": "STHostingPlan",
      "type": "string"
    },
    "resourcegroup": {
      "defaultValue": "stresourcegroup",
      "type": "string"
    },

    "subscription": {
      "defaultValue": "idrequired",
      "type": "string"
    },
    "search": {
      "defaultValue": "Microsoft",
      "type": "string"
    },
    "LogicAppName": {
      "defaultValue": "LogicAppUsers",
      "type": "string"
    }
  },
  "variables": { },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "name": "[parameters('LogicAppName')]",
      "apiVersion": "2016-06-01",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",

        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-04-01-preview/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each": {
                "actions": {
                    "Get_user": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['twitter']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/user",
                            "queries": {
                                "userName": "@item()['accountname']"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Insert_row": {
                        "inputs": {
                            "body": {
                                "accountdescription": "@{body('Get_user')['Description']}",
                                "accountid": "@{body('Get_user')?['Id']}",
                                "accountname": "@{body('Get_user')['UserName']}",
                                "accountofficialname": "@{body('Get_user')['FullName']}",
                                "favouritescount": "@{body('Get_user')?['FavouritesCount']}",
                                "followercount": "@{body('Get_user')?['FollowersCount']}",
                                "friendscount": "@{body('Get_user')?['FriendsCount']}",
                                "image_url": "@{body('Get_user')?['ProfileImageUrl']}",
                                "statuscount": "@{body('Get_user')?['StatusesCount']}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sql']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[pbist_twitter].[account_details]'))}/items"
                        },
                        "runAfter": {
                            "Get_user": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Get_rows')?['value']",
                "runAfter": {
                    "Get_rows": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_rows": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[pbist_twitter].[accounts]'))}/items"
                },
                "runAfter": {},
                "type": "ApiConnection"
            }
          },
            "outputs": {}
          },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "connectionId": "[concat('/subscriptions/', parameters('subscription'), '/resourceGroups/' ,parameters('resourceGroup'),'/providers/Microsoft.Web/connections/sql')]",
                "connectionName": "sql",
                "id": "[concat('/subscriptions/' , parameters('subscription'), '/providers/Microsoft.Web/locations/',resourceGroup().location , '/managedApis/sql')]"
              },
              "twitter": {
                "connectionId": "[concat('/subscriptions/', parameters('subscription'), '/resourceGroups/' ,parameters('resourceGroup'),'/providers/Microsoft.Web/connections/twitter')]",
                "connectionName": "twitter",
                "id": "[concat('/subscriptions/' , parameters('subscription'), '/providers/Microsoft.Web/locations/',resourceGroup().location , '/managedApis/twitter')]"
              }
            }
          }
        }
      },
      "resources": [ ],
      "dependsOn": [
      ]
    }
  ],
  "outputs": { }
}