Nonprofit Data Warehouse Quickstart/NonprofitDataWarehouseQuickstartWithCDM/DataFactory/pipeline/PL_CopyFromBlobToAdls.json
{
	"name": "PL_CopyFromBlobToAdls",
	"properties": {
		"activities": [
			{
				"name": "CopyDataFromBlobToADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Activate New Child Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_BlobCsv",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.SourceContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceFolderPath",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"ColumnDelimiter": {
								"value": "@variables('ColumnDelimiter')",
								"type": "Expression"
							},
							"EscapeCharacter": {
								"value": "@variables('EscapeCharacter')",
								"type": "Expression"
							},
							"QuoteCharacter": {
								"value": "@variables('QuoteCharacter')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AdlsCsv",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.TargetContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.TargetFolderPath",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.TargetFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Activate New Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table with a new LoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[Control].[ActivateNewPipeline]",
						"storedProcedureParameters": {
							"EntityCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EntityCode",
									"type": "Expression"
								}
							},
							"Environment": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Environment",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "01:00:00"
					},
					"dataset": {
						"referenceName": "DS_SynapseAnalytics",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Success - Finalise Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table and marks the execution as Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataFromBlobToADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Control].[FinalisePipeline]",
					"storedProcedureParameters": {
						"Environment": {
							"value": {
								"value": "@pipeline().parameters.Environment",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineInfo": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatusType": {
							"value": {
								"value": "Success",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Finalise Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table and marks the execution as Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyDataFromBlobToADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Control].[FinalisePipeline]",
					"storedProcedureParameters": {
						"Environment": {
							"value": {
								"value": "@pipeline().parameters.Environment",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineInfo": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatusType": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"EntityCode": {
				"type": "string"
			},
			"SourceFolderPath": {
				"type": "string"
			},
			"SourceFileName": {
				"type": "string"
			},
			"TargetFolderPath": {
				"type": "string"
			},
			"TargetFileName": {
				"type": "string"
			},
			"Environment": {
				"type": "string"
			},
			"SourceContainer": {
				"type": "string"
			},
			"TargetContainer": {
				"type": "string"
			}
		},
		"variables": {
			"ColumnDelimiter": {
				"type": "String",
				"defaultValue": ","
			},
			"EscapeCharacter": {
				"type": "String",
				"defaultValue": "\\"
			},
			"QuoteCharacter": {
				"type": "String",
				"defaultValue": "\""
			}
		},
		"folder": {
			"name": "Ingestion"
		},
		"annotations": []
	}
}