Nonprofit Data Warehouse Quickstart/NonprofitDataWarehouseQuickstartWithCDM - AzureRM to Az/DataFactory/pipeline/PL_OrchestrateIngest.json
{
	"name": "PL_OrchestrateIngest",
	"properties": {
		"activities": [
			{
				"name": "ForEach Source Entity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Obtain Entities to Ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Obtain Entities to Ingest').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_CopyFromBlobToAdls",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CopyFromBlobToAdls",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EntityCode": {
										"value": "@item().EntityCode",
										"type": "Expression"
									},
									"SourceFolderPath": {
										"value": "@item().SourceFolderPath",
										"type": "Expression"
									},
									"SourceFileName": {
										"value": "@item().SourceFileName",
										"type": "Expression"
									},
									"TargetFolderPath": {
										"value": "@item().TargetFolderPath",
										"type": "Expression"
									},
									"TargetFileName": {
										"value": "@item().TargetFileName",
										"type": "Expression"
									},
									"Environment": {
										"value": "@pipeline().parameters.Environment",
										"type": "Expression"
									},
									"SourceContainer": {
										"value": "@item().SourceContainer",
										"type": "Expression"
									},
									"TargetContainer": {
										"value": "@item().TargetContainer",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Activate New Parent Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table with a new LoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[Control].[ActivateNewPipeline]",
						"storedProcedureParameters": {
							"EntityCode": {
								"type": "String",
								"value": null
							},
							"Environment": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Environment",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "01:00:00"
					},
					"dataset": {
						"referenceName": "DS_SynapseAnalytics",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Obtain Entities to Ingest",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Activate New Parent Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[Control].[ObtainEntity]",
						"storedProcedureParameters": {
							"CurationStageCode": {
								"type": "String",
								"value": "RAW"
							},
							"EntityCode": {
								"type": "String",
								"value": null
							},
							"SourceSystemCode": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "01:00:00"
					},
					"dataset": {
						"referenceName": "DS_SynapseAnalytics",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Success - Finalise Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table and marks the execution as Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach Source Entity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Control].[FinalisePipeline]",
					"storedProcedureParameters": {
						"Environment": {
							"value": {
								"value": "@pipeline().parameters.Environment",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineInfo": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatusType": {
							"value": {
								"value": "Success",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Finalise Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table and marks the execution as Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach Source Entity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Control].[FinalisePipeline]",
					"storedProcedureParameters": {
						"Environment": {
							"value": {
								"value": "@pipeline().parameters.Environment",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineInfo": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatusType": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Environment": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Ingestion"
		},
		"annotations": []
	}
}