Nonprofit Data Warehouse Quickstart/NonprofitDataWarehouseQuickstart/DataFactory/pipeline/PL_ChangeSynapseAnalyticsState.json
{
	"name": "PL_ChangeSynapseAnalyticsState",
	"properties": {
		"activities": [
			{
				"name": "CheckSynapseAnalyticsState",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set SubscriptionId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set ResourceGroupName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set SynapseAnalyticsName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set SqlServerName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroupName')}/providers/Microsoft.Sql/servers/@{variables('SqlServerName')}/databases/@{variables('SynapseAnalyticsName')}?api-version=2017-10-01-preview",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@string(json('{}'))",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "Obtain Metadata SubscriptionID",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{variables('KeyVaultName')}.vault.azure.net/secrets/Subscription-Id?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Obtain Metadata ResourceGroup",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{variables('KeyVaultName')}.vault.azure.net/secrets/ResourceGroup-Name?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Obtain Metadata ServerName",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{variables('KeyVaultName')}.vault.azure.net/secrets/SqlServer-Name?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Obtain Metadata DatabaseName",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{variables('KeyVaultName')}.vault.azure.net/secrets/SynapseAnalytics-Name?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set SubscriptionId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Obtain Metadata SubscriptionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SubscriptionId",
					"value": {
						"value": "@activity('Obtain Metadata SubscriptionID').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ResourceGroupName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Obtain Metadata ResourceGroup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ResourceGroupName",
					"value": {
						"value": "@activity('Obtain Metadata ResourceGroup').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set SqlServerName",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Obtain Metadata ServerName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SqlServerName",
					"value": {
						"value": "@activity('Obtain Metadata ServerName').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set SynapseAnalyticsName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Obtain Metadata DatabaseName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SynapseAnalyticsName",
					"value": {
						"value": "@activity('Obtain Metadata DatabaseName').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Action is Pause",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckSynapseAnalyticsState",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('CheckSynapseAnalyticsState').output.properties.status, 'Online'), equals(pipeline().parameters.Action,'pause'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ChangeSynapseAnalyticsStateToPause",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroupName')}/providers/Microsoft.Sql/servers/@{variables('SqlServerName')}/databases/@{variables('SynapseAnalyticsName')}/@{pipeline().parameters.Action}?api-version=2017-10-01-preview",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@string(json('{}'))",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			},
			{
				"name": "If Action is Resume",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Action is Pause",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('CheckSynapseAnalyticsState').output.properties.status, 'Paused'), equals(pipeline().parameters.Action,'resume'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ChangeSynapseAnalyticsStateToResume",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroupName')}/providers/Microsoft.Sql/servers/@{variables('SqlServerName')}/databases/@{variables('SynapseAnalyticsName')}/@{pipeline().parameters.Action}?api-version=2017-10-01-preview",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@string(json('{}'))",
									"type": "Expression"
								},
								"linkedServices": [],
								"datasets": [],
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Action": {
				"type": "string",
				"defaultValue": "pause"
			}
		},
		"variables": {
			"SubscriptionId": {
				"type": "String"
			},
			"ResourceGroupName": {
				"type": "String"
			},
			"SqlServerName": {
				"type": "String"
			},
			"SynapseAnalyticsName": {
				"type": "String"
			},
			"KeyVaultName": {
				"type": "String",
				"defaultValue": "mstsidhkvweudev"
			}
		},
		"folder": {
			"name": "Management"
		},
		"annotations": []
	}
}