Nonprofit Data Warehouse Quickstart/NonprofitDataWarehouseQuickstart/DataFactory/pipeline/PL_MasterOrchestrate.json
{
	"name": "PL_MasterOrchestrate",
	"properties": {
		"description": "Orchestrates the data movement between  Source and Azure Synapse Analytics",
		"activities": [
			{
				"name": "Execute Ingestion",
				"description": "Executes PL_OrchestrateIngest pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Activate New Parent Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_OrchestrateIngest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Environment": {
							"value": "@variables('Environment')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Transformation",
				"description": "Executes PL_OrchestrateTransformation pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_OrchestrateTransformation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Environment": {
							"value": "@variables('Environment')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Activate New Parent Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table with a new LoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[Control].[ActivateNewPipeline]",
						"storedProcedureParameters": {
							"EntityCode": {
								"type": "String",
								"value": null
							},
							"Environment": {
								"type": "String",
								"value": {
									"value": "@variables('Environment')",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "01:00:00"
					},
					"dataset": {
						"referenceName": "DS_SynapseAnalytics",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Success - Finalise Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table and marks the execution as Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Control].[FinalisePipeline]",
					"storedProcedureParameters": {
						"Environment": {
							"value": {
								"value": "@variables('Environment')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineInfo": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatusType": {
							"value": {
								"value": "Success",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure - Finalise Child Pipeline",
				"description": "Creates a record in the Audit.PipelineLoad table and marks the execution as Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Transformation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Control].[FinalisePipeline]",
					"storedProcedureParameters": {
						"Environment": {
							"value": {
								"value": "@variables('Environment')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineInfo": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatusType": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SynapseAnalytics",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Environment": {
				"type": "String",
				"defaultValue": "DEV"
			}
		},
		"folder": {
			"name": "Master"
		},
		"annotations": []
	}
}